{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Cloth Shop</h1>
<h3>Welcome To My Site</h3>

<div id="slider">
	<input type="radio" id="button-1" name="controls" />
	<input type="radio" id="button-2" name="controls" checked />
	<input type="radio" id="button-3" name="controls" />
	<input type="radio" id="button-4" name="controls" />
	<input type="radio" id="button-5" name="controls" />
	<label for="button-1" class="arrows" id="arrow-1">&#x25BB;</label>
	<label for="button-2" class="arrows" id="arrow-2">&#x25BB;</label>
	<label for="button-3" class="arrows" id="arrow-3">&#x25BB;</label>
	<label for="button-4" class="arrows" id="arrow-4">&#x25BB;</label>
	<label for="button-5" class="arrows" id="arrow-5">&#x25BB;</label>
	<div id="slides">
		<div class='tk-museo-sans'>
			<span id="image-1"> 
				
			</span>
			<span id="image-2"> 
				
			</span>
			<span id="image-3">
				
			</span>
			<span id="image-4"> 
				
			</span>
			<span id="image-5"> 
				
			</span>
		</div>
	</div>
</div>


</body>
</html>
{% endblock %}